<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Surname</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat='customer in customerData'>
      <td>{{customer.firstname}}</td>
      <td>{{customer.surname}}</td>
      <td>
		{{customer.location}} 
  		<span class="glyphicon glyphicon-trash" data-ng-click='deleteMe($index)' ></span>
  		<span class="glyphicon glyphicon-edit"></span>
  		<span class="glyphicon glyphicon-plus" data-ng-click='addCustomer()'></span>
      </td>
    </tr>
    <tr class='form-row' data-ng-show='formOpen'>
    	<td><input type='text' placeholder="Firstname..." data-ng-model='user.firstname'/></td>
    	<td><input type='text' placeholder="Surname..." data-ng-model='user.surname'/></td>
    	<td><input type='text' placeholder="location..." data-ng-model='user.location'/></td>
    </tr>
    <tr class='form-row' data-ng-show='formOpen'>
    	<td class='' colspan="3">
    		<button class='button primary' data-ng-click='submitAdd(user)'>Add Customer</button>
    	</td>
    </tr>
  </tbody>
</table>